@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,800;1,300;1,500&family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');
.biz a{
    width: 60px;
    height: 30px;
    float: left;
    text-align: end;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    margin-top: 50px;
}
/* #gray{
    background: gray;
}
#purple{
    background: purple;
}
#pink{
    background: pink;
}
#red{
    background: red;
}
#green{
    background: green;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body
{
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background:linear-gradient(rgb(82, 125, 189),rgb(154, 96, 181));
overflow: hidden;
}
.box{
width: 1200px;
height: 550px;
background: #fff;
border-radius: 10px;
box-shadow: 0 5px 10px rgba(0,0,0,0.1);
right: 50px;
}
.box .forms{
display: flex;
align-items: center;
height: 440px;
width: 2000px;
transition: height 0.2s ease;
}

.box .form{
 width: 30%;
padding: 30px;
margin-top: 120px;
}
.box .active .login{
    margin-left: -50% ;

}
.box .active .forms{
    height: 600px; 
}
.box .form .title{
     position: relative;
    font-size: 27px;
    font-weight: 600;
}
.form .title::before{
content: ' ';
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width:30px ;
background-color: #4070f4;
border-radius: 25px;
}
.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}
.input-field input{
position: absolute;
height: 100%;
width: 100%;
padding: 0 35px;
border: none;
outline: none;
font-size: 16px;
border-bottom: 2px solid #ccc;
border-top: 2px solid transparent;
transition: all 0.2s ease;
}
.input-field input:is(:focus,:valid){
    background:linear-gradient(rgb(185, 203, 231),rgb(233, 208, 245));
}
.input-field i{
 position: absolute;
 top: 50%;
 left: 0;
 transform: translateY(-50%);
 color:#999;
 font-size: 23px;
}
.input-field input:is(:focus,:valid)~i{
    color:#4070f4 ;
    }
.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    top: -1px;
    left: -0.0px;
    padding-left: 522px;
    cursor: pointer;
    margin-top: 25px;
}
.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}
.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color:  #4070f4; 
}
.form .text{
    color: #333;
    font-size: 14px;
}
.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
.form .button{
    margin-top: 35px;
}
.form .button input{
    border:none;
    color: #fff;
    font-size:  17px; 
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input:hover{
    background-color: #265df2;
}
.form .login-signup{
    margin-top: 30px;
    text-align: center;
}
  .popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}



